<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/admin.css">
<title>Insert title here</title>
</head>
<body>

	<div th:insert="fragments/general.html :: menu"></div>

	<div class="contenedor-pedido-detalles">

		<div class="titulo-centro">Detalles del pedido:</div>

		<div class="seccion">Detalles envío:</div>
		Nombre completo: <span th:text="${pedido.nombreCompleto}"></span> <br>
		Dirección: <span th:text="${pedido.direccion}"></span> <br>
        Provincia: <span th:text="${pedido.provincia}"></span> <br>

		<div class="seccion">Datos de pago:</div>
		Tipo de tarjeta: <span th:text="${pedido.tipoTarjeta}"></span> <br>
		Titular: <span th:text="${pedido.titularTarjeta}"></span> <br>
		Número: <span th:text="${pedido.numeroTarjeta}"></span> <br>

		<div class="seccion">Listado de productos:</div>

		<div th:each="productoPedido: ${pedido.productosPedido}" class="item-producto">
			Nombre: <span th:text="${productoPedido.Prenda.nombre}"></span> <br>
			Precio: <span th:text="${productoPedido.Prenda.precio}"></span> <br>
			Cantidad: <span th:text="${productoPedido.cantidad}"></span> <br>
		</div>

		<input type="hidden" id="id_pedido" th:field="${pedido.id}"/>

		<div class="seccion titulo-centro" style="margin-top: 20px;">Estado del pedido</div>

		<select id="select_estado" th:field="${pedido.estado}">
			<option th:each="e : ${estados}" th:text="${e.value}" th:value="${e.key}"></option>
		</select>

	</div>

	<script src="../librerias_js/jquery.js"></script>
	<script>
		$("#select_estado").change(function(){
			let estado = $("#select_estado").val()
			let idPedido = $("#id_pedido").val()
			alert("asignar estado: " + estado + " a la id de pedido: " + idPedido)
			$.post("pedidosREST/actualizarEstadoPedido", {
				id: idPedido,
				estado: estado
			}).done(function(res){
				alert(res)
			})
		})
	</script>

</body>
</html>