<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/admin.css">
<title>Insert title here</title>
</head>
<body>

<div th:insert="fragments/general.html :: menu"></div>

<div class="form-registro-p">

    <div class="form-titulo">Introduce los datos del nuevo prenda</div>

    <form action="#" th:action="guardarPrenda" th:object="${xxx}" method="post" enctype="multipart/form-data">

        Nombre:
        <input type="text" th:field="*{nombre}" />
        <span class="form-error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>

        Categoría:
        <select th:field="*{idCategoria}">
            <option th:each="c : ${categorias}" th:text="${c.nombre}" th:value="${c.id}"></option>
        </select>

        Descripción:
        <textarea th:field="*{descripcion}" ></textarea>

        Precio:
        <input type="number" step=".01" th:field="*{precio}" />
        <span class="form-error" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></span>

        Talla:
        <input type="text" th:field="*{talla}" />

        Género:
        <input type="text" th:field="*{genero}" />

        Fabricante:
        <input type="text" th:field="*{fabricante}" />

        Portada:
        <input type="file" th:field="*{imagen}" />

        <input type="submit" value="REGISTRAR PRENDA">
    </form>

</div>

</body>

</html>