<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/admin.css">	
<title>Insert title here</title>
</head>
<body>

<div th:insert="fragments/general.html :: menu" ></div>

<div class="opc">
	<a href="registrarPrenda"><span th:text="#{productos.registrar}"></span></a>	
</div>

<div class="prendas-container">
  <div class="caracteristicas" th:each="prenda: ${prendas}" style="margin: 10px;">
      nombre: <span th:text="${prenda.nombre}" /> <br>
      categoria: <span th:text="${prenda.categoria.nombre}"/> <br>
      precio: <span th:text="${prenda.precio}" /> <br>
      <img style="height: 80px" th:src="@{${ '../mostrar_imagen?id=' + prenda.id }}"/>
      <br>
      <div class="acc">
          <a th:href="@{${ 'borrarPrenda?id=' + prenda.id }}" onclick="return confirm('¿seguro?')" ><span th:text="#{productos.borrar}"></span></a>
          <a th:href="@{${ 'editarPrenda?id=' + prenda.id }}" ><span th:text="#{productos.editar}"></span></a>
      </div>
  </div>
</div>

</body>
</html>