<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/admin.css">
<title>Insert title here</title>
</head>
<body>

<div th:insert="fragments/general.html :: menu"></div>

<div class="form-editar-p">

    <div class="form-titulo">Modificar datos de la prenda</div>

    <form action="#" th:action="guardarCambiosPrenda" th:object="${prendaEditar}" enctype="multipart/form-data" method="post">

        Nombre:
        <input type="text" th:field="*{nombre}"/>

        Descripción:
        <textarea th:field="*{descripcion}"> </textarea>

        Categoría:
        <select th:field="*{idCategoria}">
            <option th:each="c : ${categorias}" th:text="${c.nombre}" th:value="${c.id}"></option>
        </select>

        Precio:
        <input type="number" step=".01" th:field="*{precio}"/>

        Talla:
        <input type="text" th:field="*{talla}"/>

        Género:
        <input type="text" th:field="*{genero}"/>

        Fabricante:
        <input type="text" th:field="*{fabricante}"/>

        <img class="form-imagen" th:src="@{${ '../mostrar_imagen?id=' + prendaEditar.id }}"/>

        Actualizar imagen:
        <input type="file" th:field="*{imagen}"/>

        <input type="hidden" th:field="*{id}"/>

        <input type="submit" value="GUARDAR CAMBIOS">
    </form>

</div>

</body>

</html>





