<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/admin.css">	
<title>Insert title here</title>
</head>
<body>

<div th:fragment="menu" class="general">
	<div>
		<a href="../">volver a la parte publica</a>
	</div>
	<div class="bienvenida">
		<span th:text="#{titulo.bienvenida}"></span>
	</div>
	
	<div class="idiomas">
		<a href="?idioma=es">ESPAÑOL</a>
		<a href="?idioma=en">ENGLISH</a>
		<a href="?idioma=fr">FRANÇAIS</a>
	</div>
	<div class="menu" style="text-align: center;">
		<a href="obtenerPrendas"><span th:text="#{enlaces.productos}"></span></a>
		<a href="obtenerPedidos"><span th:text="#{enlaces.pedidos}"></span></a>
		<a href="../logoutAdmin"><span th:text="#{enlaces.sesion}"></span></a>
	</div>
	
</div>

</body>
</html>